.chart-box {
  width: 100%;
  min-height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: auto;
  .chart-svg-wrapper {
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    .svg-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
