.chart-box {
  width: 100%;
  min-height: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: auto;
  .chart-svg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      border-radius: 10px;
    }
  }
}
