.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    text-align: center;
  }
  div {
    input {
      width: 400px;
    }
  }
}
